.image-card {
  height: 491px;
  
  .image {
    height: 491px;
  }
  .no-padding {
    padding: 0;
  }
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}

#green-image {
  clip-path: polygon(0 0,0 20%,100% 100%,100% 0);
  opacity: .4;
}

#green-image-background {
  position: relative;
  top: 0;
  left: 0;
  clip-path: polygon(0 0,0 20%,100% 100%,100% 0);
  background: #57D5A9;
}

#blue-image {
  clip-path: polygon(0 0,0 100%,100% 60%,100% 0);
  opacity: .4;
  // mix-blend-mode: overlay;
}

#blue-image-background {
  position: relative;
  top: -760px;
  left: 0;
  clip-path: polygon(0 0,0 100%,100% 60%,100% 0);
  background: #1553A8;
  // mix-blend-mode: overlay;
}

#header-promo {
  position: relative;
  top: -1520px;
  left: 0;
  clip-path: polygon(0 0,0 100%,100% 60%,100% 0);
}

#mainImgContainer {
  position: relative;
  display: block;
}

#noBorder {
  border: 0px;
}

@media (min-width: 768px) {
  .image-card {
    height: 759px;
    .image {
      height: 759px;
    }
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
