.nav-link {
  font-size: 90%;
  font-weight: 500;
  padding: 0.5em 0;
  letter-spacing: 1px;
  color: white !important;
  text-align: center;
  @include heading-font;
  &.active,
  &:hover {
    color: $lightblu !important;
    font-weight: 600;
  }
}
@media (min-width: 1150px) {
  .nav-link {
    padding: 1.1em 0.5em !important;
  }
}
